body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/backgroun-Dario-Brönnimann.jpg");
    margin: 0em;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
    width: 70%;
    background-color: black;
    opacity: 70%;
}
a{
    color: white;
}
a:visited{
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    margin: 0em;
    width: 100%;
    height: 100vh;
}
.body-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    height:100%;
    width: 40%;
}
.body-right{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 60%;
}
.br-top{
    display: flex;
    flex: 1 1 0%;
    background-color:rgb(33, 38, 43);
    opacity: 50%;
    color: white;
}
.br-middle{
    display: flex;
    flex: 1 1 0%;
    background-color: rgb(77, 88, 99);
    opacity: 90%;
    color: black;
}
.br-bottom{
    display: flex;
    flex: 1 1 0%;
    background-color:rgb(33, 38, 43);
    opacity: 50%;
    color: white;
}