@keyframes slideInLeft{
    0% {
        transform: translateX(55%);
    }
    100% {
        transform: translateX(0);
    }
}@keyframes slideInUp{
    0% {
        transform: translateY(55%);
    }
    100% {
        transform: translate\Y(0);
    }
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("images/backgroun-Dario-Brönnimann.jpg");
    margin: 0em;
}
footer{
    display: flex;
    justify-content: center;
    color: white;
    width: 70%;
    background-color: rgb(11, 16, 32);
    opacity: 50%;
    animation: 0.45s ease-in-out 0s 1 slideInUp;
    padding: 0.5em;
    font-size: large;
}
a{
    color: white;
}
a:visited{
    color: white;
}
.form-container{
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}
.form-header{
    grid-column: 1 / -1;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    gap: 1em;
}
input{
    display: block;
    width: 75%;
    border-radius: 0.5em;
    height: 1.5em;
}
input:invalid{
    border-color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    margin: 0em;
    width: 100%;
    height: 100vh;
}
.body-left{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: end;
    height:100%;
    width: 40%;
}
.body-right{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 60%;
    background-color:rgb(11, 16, 32);
    opacity: 90%;
    color: black;
    animation: .25s ease-in-out 0s 1 slideInLeft;
}
.body-right a{
    color: slateblue;
}
.body-right a:visited{
    color:darkslateblue;
}
.br-top{
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding-left: 5em;
    padding-right: 5em;
    font-size: x-large;
    flex: 1 1 0%;
    color: white;
}
.br-middle{
    display: flex;
    flex-direction: column;
    padding-left: 8em;
    align-items: flex-start;
    justify-content: center;
    font-size: larger;
    flex: 1.5 1 0%;
    color: White;
}
.br-bottom{
    display: flex;
    flex: 1 1 0%;
    color: white;
}
.submit-btn{
    background-color: rgb(11, 16, 32);
    color: slateblue;
    font-size: large;
    border-radius: 0.75em;
    padding: 0.75em;
    border-style: solid;
    border-width: 0.125em;
    border-color:slateblue;
}
.submit-btn:active{
    background-color: slateblue;
    border-color:aliceblue;
    color: aliceblue;
}